<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lost Threads</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="ghost" id="ghostanimation">
    <img src="https://www.freepnglogos.com/uploads/ghost-png/ghost-clipart-clipart-panda-clipart-images-39.png" alt="ghost" width="100" height="100">
  </div>

  {{!-- <div class="flex-column justify-space-around"> --}}
    <header class="display-flex justify-space-between">
       <a href="/">
        <img src="https://i.ibb.co/7NmHsPg/logo.jpg" alt="Logo for Lost Threads" width="200" height="150" />
      </a>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a>
        <a href="/login" id="logout">Logout</a>
        {{/if}}
        <a id="btnGhost" style="color:gold"> Hide Ghost </a>
      </nav>
    </header>
    {{#if logged_in}}
    <main class="container container-fluid"></main>
     
        {{{ body }}}
      
    </main>
    {{else}}
    <div class="section hero-image">
        <div class="container">
          <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
              <div class="section pb-5 pt-1 pt-sm-2 text-center">
                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                <label for="reg-log"></label>
                <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">

                    {{!-- Form Card for Login --}}
                    <div class="card-front">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3">Log In</h4>
                          <form>
                            <div class="form-group">
                              <input type="email" name="logemail" class="form-style" placeholder="Email" id="logemail" autocomplete="off">
                            </div>	
                            <div class="form-group mt-2">
                              <input type="password" name="logpass" class="form-style" placeholder="Password" id="logpass" autocomplete="off">
                            </div>
                              <button href="/home" type="submit" value="sumbit" class="btn mt-4">submit</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    

                    {{!-- Form card for signup --}}
                    <div class="card-back">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3">Sign Up</h4>
                          <form>
                            <div class="form-group">
                              <input type="text" name="logname" class="form-style" placeholder="Username" id="logname" autocomplete="off">
                              
                            </div>	
                            <div class="form-group mt-2">
                              <input type="email" name="logemail" class="form-style" placeholder="Email" id="newlogemail" autocomplete="off">
                              
                            </div>	
                            <div class="form-group mt-2">
                              <input type="password" name="logpass" class="form-style" placeholder="Password" id="newlogpass" autocomplete="off">
                              
                            </div>
                            <button href="/profile" type="submit" value="sumbit" class="btn mt-4">submit</button>
                          </form>                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  {{/if}}
  <footer>

  </footer>
  
</div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="/js/login.js"></script> 
  <script src="/js/ghost.js"></script>



</body>

</html>
