
<div class="row">
  <div class="col">
    <h2 id="greeting"></h2><h2> {{name}}!</h2>
  </div>

  <div class="col">
    <a href="/api/edit-profile" class="btn btn-primary" id="editProfileBtn">Edit Profile</a>
  </div>  
  <div class="col">
    <a href="/home" class="btn btn-primary" id="browseBtn">Browse Threads</a>
  </div>  
  <div class="col">
    <a href="" class="btn btn-primary" id="createBtn">Create a Thread</a>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <h3>Your Threads:</h3>
  </div>

  <div class="col-6">
    <h3>Liked Threads:</h3>
  </div>
</div>


  {{!-- {{#if threads.length}}
  <div class="col-md-6 threads-list">
    <h3>Current Threads:</h3>

    {{#each threads as |threads|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/threads/{{threads.id}}">{{threads.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{threads.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<script src="/js/profile.js"></script>
