<div class="row">
  <div class="col-auto">
    <h2 id="greeting"></h2><h2> {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <button type="submit" class="btn btn-primary">Browse Threads</button>
    <button type="submit" class="btn btn-primary">Create a Thread</button>
    <h3>Your Threads:</h3>

    <h3>Starred Threads:</h3>
    {{!-- <h3>Create a New Thread:</h3>

    <form class="form new-threads-form">
      <div class="form-group">
        <label for="threads-name">Thread Name:</label>
        <input class="form-input" type="text" id="threads-name" name="threads-name" />
      </div>
      <div class="form-group">
        <label for="threads-desc">Description:</label>
        <textarea class="form-input" id="threads-desc" name="threads-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form> --}}
  </div>

  {{#if threads.length}}
  <div class="col-md-6 threads-list">
    <h3>Current Threads:</h3>

    {{#each threads as |threads|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/threads/{{threads.id}}">{{threads.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{threads.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
